@media (max-width: 530px) {
    body {
      background-color:aqua;
    }
  }
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
#nav{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 270px;
}
nav ul li{
    list-style: none;
    display: inline-flex;
    padding: 9px 35px;
    color: black;
}
.logo img{
    width: 90px;
    margin-left: 200px;
}

#brickh{
    margin-left: 300px;
    margin-top: -50px;
}
#head{
    margin-left: 430px;
    margin-top: -28px;
}
#search{
    text-align: center;
}
.iconsearch{
    
}
#icons{
    margin-left: 800px;
    margin-top: -16px;
}
#All{
    background-color: yellow;
}
#Rings img{
    width: 450px;
    margin-top: 15px;
    height: 60vh;
    margin-left: 20px;
}
#newBt{
    margin-top: -50px;
    margin-left: 20px;
}
#recent{
    margin-left: 480px;
    font-size: 30px;
}
#dagobah img{
width: 220px;
}
#bomber img{
    margin-left: 350px;
    width: 220px;
}
#bomber{
margin-top: -200px;
}
#AT img{
    width: 210px;
    margin-left: 700px;
}
#AT{
    margin-top: -200px;
}
#starfighter img{
width: 210px;
margin-left: 980px;
height: 40vh;
}
#starfighter{
    margin-top: -20%;
}
#Turok img{
width: 200px;
margin-left: 367px;
height: 45vh;
}
#Turok{
    margin-top: -27%;
}

#Payakan img{
width: 200px;
height:  35vh;
margin-left: 680px
}
#Payakan{
    margin-top: -21%;
}
#Gandalf img{
  width: 200px;
  margin-left: 990px;
  height: 35vh;
}
#Gandalf{
    margin-top: -20%;
}
#Picc img{
    width: 200px;
    height: 45vh;
}
#series{
    margin-left: 520px;
    font-size: 25px;
    margin-top: 200px;
}
#starwars img{
width: 230px;
height: 27vh;
}
#marvell img{
    margin-left: 290px;
}
#marvell{
    margin-top: -167px;
    height: 25vh;
}
#Avatar img{
    width: 270px;
    margin-left: 670px;
    height: 28vh;
}
#Avatar{
    margin-top: -156px;
}
#ideas img{
    margin-left: 300px;
    width: 270px;
    height: 30vh;
}
#ideas{
    margin-top: -190px;
}
#creator img{
    width: 270px;
    height: 30vh;
}
#harry img{
    width: 260px;
    height: 30vh;
    margin-left: 700px;
}
#harry{
    margin-top: -180px;
}
#mini img{
    margin-left: 380px;
    width: 250px;
    height:35vh;
}
#mini{
    margin-top: -190px;
}
#classics img{
    width: 230px;
    margin-left: 670px;
}
#classics{
    margin-top: -180px;
}
#cityy img{
    width: 250px;
    margin-left: 960px;
}
#cityy{ 
margin-top: -170px;
}
#disney img{
    width: 250px;
    margin-left: 330px;
    height: 30vh;
}
#disney{
    margin-top: -200px;
}
#lightyear img{
    width: 250px;
    margin-left: 640px;
}
#lightyear{
    margin-top: -180px;
}
#duplo img{
    margin-left: 920px;
    width: 270px;
    height: 28vh;
}
#duplo{
    margin-top: -184px;
}
#NEW{
    margin-left: 570px;
    font-size: 25px;
}
#BT2{
    padding: 10px 15px;
    margin-left: 560px;
    background-color: rgba(255, 255, 0, 0.904);
}
#Discounts{
    margin-left: 565px;
    font-size: 25px;
    color: black;

}
#promo img{
    width: 290px;
    height: 28vh;
    margin-left: 400px;
}
#promo{
    margin-top: -180px;
}
#pandora img{
    width: 290px;
    height: 30vh;
    margin-left: 790px;
}
#pandora{
    margin-top: -190px;
}
#Newyear{
    font-size: 18px;
    margin-top: 10px;
}
#Bday{
    margin-left: 400px;
    margin-top: -33px;
    font-size: 18px;
}
#set{
    margin-left: 820px;
    margin-top: -30px;
    font-size: 18px;
}
#angles{
    margin-left: 650px;
    font-size: 35px;
    justify-content: space-between;
    color: yellow;
}
.last{
    background-color:darkblue;
}
.Form{
    float: right;
    margin-top: -390px;
    margin-right: 120px;
    background-color: whitesmoke;
    width: 290px;
    padding: 5%;
    height: 50vh;
}
#select{
    background-color: yellow;
    padding: 8px 25px;
}
#Note{
    background-color:#ffd600;
    height: 10vh;
}
#email{
    margin-left: 320px;
}
#discount{
margin-bottom: -2px;

}
#footer{
    display: flex;
    justify-content: space-between;
    background-color: #26004c;
    margin-top: -20px;
    padding: 40px 40px;
}
.intro{
position: relative;
display: inline-block;
}
.text{
    position: absolute;
    margin-top: -250px;
    margin-left: 180px;
    transform: translate(-50%,-50%);
    font-size: 1.2rem;
    right: 0;
    padding: 10px;
    z-index: 1;
}
#fonts img{
    width: 70px;
    margin-left: 20px;
}
#fonts{
margin-top: -70px;
}
#button1{
    background-color: yellow;
    padding: 3px 5px;
}
.tie{
    margin-left: 320px;
    text-align: justify;
}
.dago{
    margin-top: -45px;
    text-align: justify;
}
.at{
    margin-left: 700px;
    text-align: justify;
}
.star{
    margin-left: 970px;
    margin-top: -25px;
    text-align: justify;
}
.gandalf{
margin-left: -50%;
}